:root {
  --color-one: #3345bfd0;
  --color-two: #d3d3d3;
  --color-three: #008000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}