.modal {
  width: 800px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid var(--color-one);
}

.header {
  padding: 10px 10px;
  border-bottom: 2px solid var(--color-four);
  color: var(--color-one);
}

.main {
  padding: 50px 50px;
}

.room-one {
  margin-bottom: 10px;
}

.container-adult, .container-children {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #000000;
}

.container-p-adult, .container-p-children {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 10px 10px;
}

.container-amount-adult, .container-amount-children {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.min-adult, .min-children {
  cursor: pointer;
  text-align: center;
  font-size: 12pt;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 700px  ;
  border: 2px solid var(--color-one);
}

.max-adult, .max-children {
  cursor: pointer;
  text-align: center;
  font-size: 12pt;
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 700px  ;
  border: 2px solid var(--color-one);
}

/* button-modal {
  width: 600px;
  height: 50px;
  margin: auto;
  background-color: var(--color-one);
} */